.headerBox {
  display: flex;
  justify-content: flex-end;
}


h2, .searchBox {
  text-align: center;
}

.searchBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 600px;
  background-color: lightgray;
}

.searchBox > input {
  height: 40px;
  width: 100%;
}

.filterBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filterOptions {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2px;
}

.filterHeading {
  height: 40px;
  padding: 5px;
}

.resultsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: lightgreen;
}

.resultsLists {
  display: flex;
  text-align: center;
  padding: 10px;
  list-style: none;
}

.resultsLists .panel {
  padding: 20px;
}

.panel-heading {
  /* font-weight: bold;
  text-decoration: underline; */
}

/* MODAL STYLES */
.backdropClass {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
}

.modalStyleClass {
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px
}
